
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Django Session Cookies </h1>
    <form method="POST" action="/age/">
        {% csrf_token %}
        <p>Enter Your Name:</p><input type="text" name="name" value=""/>
        <button>Submit</button>
    </form>
</body>
</html>
